language: node_js
os:
    - linux
    - windows
node_js:
    - "stable"
    - "6.4.0"
    - "4.5.0"
    - "0.12.15"
sudo: false
script:
    - npm test
services:
  - mongodb
after_success:
  - bash <(curl -s https://codecov.io/bash)
 
